@font-face {
	font-family: Flaticon;
	font-display: swap;
	src: url("../fonts/Flaticon.woff2") format("woff2"), url("../fonts/Flaticon.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
